.clearfix:after{
	content: '';
	display: block;
	clear: both;
}/*清除父级浮动*/

/*导航栏部分开始*/
nav{
	position: fixed;
	height: 50px;
}

nav ul{
	margin: 0 ;
    position: fixed;
    right:0;

}

nav ul li{
	display: inline-block;
	line-height: 64px;
	margin-right: 25px;
	font-size: 25px;
	color: #fff;
}
 
.nav-wrapper{
	padding-left: 10px;
}
 
.logo a{
	font-size: 20px;
	letter-spacing: 1px;
	text-decoration: none;
	color: #fff;
}

#sidebar_trigger:hover{
	cursor: pointer;
	color: #ccc;
}

/*导航栏部分结束*/


/*侧边栏部分开始*/
#sidebar{
	position: fixed;
	top: 0;
	left: -300px;
	bottom: 0;
	width: 300px;
	background-color: #333;
	color: #fff;
	/*padding: 20px 0;*/
	transition: left 0.5s;
	cursor:w-resize	;

}

#sidebar ul{
	list-style: none;
	padding: 0;
	margin-top: 50px;

}

#sidebar ul i{
	font-size: 20px;
	margin-right: 15px;
	width: 20px;
}

#sidebar ul a{
	font-size: 13px;
	color: #ccc;
	padding: 10px 15px;
	display: inline-block;
	text-decoration: none;
	width: 100%;
	border-left: 4px solid transparent;
}

#sidebar ul a:hover,.active{
	/*color: #fff;
	background-color: #444;
	border-left: 4px solid #cfd0d0;*/
    /*transition: color 0.3s;*/
    /*transition: border-left 0.3s;*/
}
/*侧边栏部分结束*/


#main_banner{
	background: #444 url(../img/bannner01.jpg);
	background-attachment: fixed;
	background-size: contain;
	overflow: hidden;
    width: 100%;
	height: 9/16 * width;

}

.canvas{
	margin: 0 auto;	
	max-width: 200px;
}

#clork{
position: relative;
margin: 0 auto;
}/*时钟*/

#date{
position: absolute;
display: none;
margin: 0 auto;
}

.more{
	display: block;
	cursor:s-resize;
}

#main_banner .inner{
 	position: relative;
	text-align: center;
	margin: 0 auto;
	top: 200px;
}

#main_banner .inner p{
	color: #fff;
	font-size: 15px;
	letter-spacing: 1.5px;
	line-height: 25px;
	margin-top: 40px;
	opacity: 0.8;
}

#main_banner .inner p b{
	font-size: 18px;
}

#main_banner .inner .more{
	margin-top: 90px;
	color: #fff;
}

.green-section{
	background: #252F34;
	color: #fff;
	text-align: center;
	padding: 100px 0;

}

.green-section .hr{
	background: #394246;
	margin: 20px auto;
	width: 60%;
	height: 2px;

}
.wrapper{
	max-width: 1080px;
	margin: 0 auto;
}

.icon-group{
	margin-top: 60px;
}

.green-section .icon-group .icon{
	display: inline-block;
	width: 80px;
	height: 80px;
	background: #394246;
	transform: rotate(45deg);
	margin: 20px;
}

.gray-section{
	background: #252F34;
	color: #fff;
}
.gray-section .img-section{
	width: 45%;
}

.img-section img{
	width: 100%;
}

.text-section{
	width: 55%;
	position: relative;
	/*top: 68px;*/
	left: 5%;
	margin-top: 2%;
}

.text-section > *{
	max-width: 90%;
	margin-left: 0;
}


.article-preview > div{
	float: left;
	font-size: 0;
}

.article-preview:after{
	content: '';
	display: block;
	clear: both;
}

.text-section h2{
	font-size: 22px;
	letter-spacing: 1px;
}

.text-section p{
	font-size: 14px;
	letter-spacing: 1px;
}

.text-section .sub-heading{
	margin-top: 0;
	font-size: 16px;
}

.article-preview:nth-child(odd){
	background-color: rgba(255,255,255,0.09);
}

.purple-section{
	padding: 80px;
	background-color: #3f3965;
	color: #fff;
	margin-top: 0;
}

.purple-section .heading-wrapper{
	text-align: center;
}

.purple-section .hr{
	margin: 20px auto;
	height: 2px;
	background-color: #373259;
	width: 60%;
}

.card{
	/*float: left;*/
	/*width: 50%;*/
	/*min-height: 300px;*/
	padding: 70px;
/*	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;*/
    /*border: 1px solid white;*/
}

.card:first-child{
	background:rgba(0,0,0,0.04);
}

.card:nth-child(2){
	background:rgba(0,0,0,0.08);
}
.card:nth-child(3){
	background:rgba(0,0,0,0.12);
}
.card:nth-child(4){
	background:rgba(0,0,0,0.16);
}
.card:nth-child(5){
	background:rgba(0,0,0,0.20);
}
.card:nth-child(6){
	background:rgba(0,0,0,0.24);
}

footer{
	background: #333;
	color: #fff;
	min-height: 200px;
	text-align: center;
}

.share-group{
	display: block;
	/*width: 1080px;*/
	margin: 0 auto;
	padding: 50px;
}

.share-group li{
	display: inline-block;
	padding: 10px;
}

.copy{
	padding-bottom: 20px;
}


header{
	background:rgba(0, 0, 0, 0.05);
}

/*span .fa{
	margin-top: 5px;
	color: #fff;
	font-size: 20px;
}*/

.mask{
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.3);
	cursor:w-resize	;
}

#back_top{
	position: fixed;
	bottom: 20px;
	right: 20px;
}


