header, main, footer {
      padding-left: 300px;
    }

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
          
#main_banner{
background: #444 url(../img/bannner01.jpg);
background-attachment: fixed;
background-size: cover;
overflow: hidden;
width: 100%;
height: 9/16 * width;
}

#clork{
position: relative;
margin: 0 auto;
}/*时钟*/

#date{
position: absolute;
display: none;
margin: 0 auto;
}

.side-nav-content{
 	position: relative;
	text-align: center;
	top: 30px;
}

.side-nav-content p{
	text-align: center;
	font-size: 13px;
	letter-spacing: 1.5px;
	line-height: 25px;
	margin-top: 10px;
}

.side-nav-content p b{
	font-size: 16px;
}

.side-nav-content li a{
	letter-spacing: 5px;
	font-size: 15px;
	/*margin-right: 55px;*/
}

.side-nav-content li a i{
	position: absolute;
	left:60px;
}

.side-nav-hr{
	width: 80%;
}
#back_top{
	position: fixed;
	bottom: 20px;
	right: 20px;
}

.article , .download{
	text-align: center;
	padding: 30px;
}

.article hr , .download hr{
	width: 70%;
	background-color: #000;
}
.more-things{
	text-align: center;
	margin-bottom: 10px;
}
.download{
	padding: 0px;
}
